.subscribe__form .subscribe__mail{
    color: #000;
}
.publications__item:nth-of-type(2n) .post__link .post__preview .post__date{
	width: 32%;
}
.aboutExpanded__img.prevuiw_image{
	width: 100%;
	margin-bottom: 30px;
	height: 300px;

}